{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    "@semantic-release/release-notes-generator",
    [
      "semantic-release-helm3",
      {
        "chartPath": "."
      }
    ],
    "@semantic-release/github",
    ["@semantic-release/git", {
      "assets": ["Chart.yaml"]
    }]
  ]
}
